<div class="parts" ng-show="!game.actors.master || !game.actors.game || !game.actors.buzzer">
	<div class="row">
		<div class="row icons-row">
			<div class="col-xs-4 icon">	
				<div>
					<svg version="1.1" 
					     id="Calque_1" 
					     xmlns="http://www.w3.org/2000/svg" 
					     xmlns:xlink="http://www.w3.org/1999/xlink" 
					     x="0px" 
					     y="0px"
						 viewBox="0 0 116 132.3" 
						 style="enable-background:new 0 0 116 132.3;" 
						 xml:space="preserve" 
						 ng-class="{ active: game.actors.game }">
					<style type="text/css">
						.st0{fill:#ED1C24;}
					</style>
					<g id="XMLID_5_">
						<path id="XMLID_12_" class="st0" d="M102.7,37.4l3.8-3.8l1,1c1.2,1.2,3.2,1.2,4.4,0c1.2-1.2,1.2-3.2,0-4.4l-8.7-8.7
							c-1.2-1.2-3.2-1.2-4.4,0c-1.2,1.2-1.2,3.2,0,4.4l1.5,1.5L96.5,31C87.9,23.4,77,18.2,64.9,16.8v-6.3h2.8c2.9,0,5.2-2.4,5.2-5.2
							c0-2.9-2.4-5.2-5.2-5.2H48.2C45.3,0,43,2.4,43,5.2c0,2.9,2.4,5.2,5.2,5.2H51v6.3c-28.7,3.5-51,28-51,57.6c0,32,26,58,58,58
							s58-26,58-58C116,60.3,111,47.4,102.7,37.4z M93.9,106.1l-2.8-2.8c-0.8-0.8-2-0.8-2.8,0l-1.1,1.1c-0.8,0.8-0.8,2,0,2.8L90,110
							c-7.9,7.1-18.2,11.7-29.5,12.2v-4c0-1.1-0.9-2-2-2H57c-1.1,0-2,0.9-2,2v3.9c-11.2-0.7-21.4-5.3-29.2-12.4l2.6-2.6
							c0.8-0.8,0.8-2,0-2.8l-1.1-1.1c-0.8-0.8-2-0.8-2.8,0l-2.6,2.6C15,98,10.6,87.9,10.1,76.7h3.7c1.1,0,2-0.9,2-2v-1.5c0-1.1-0.9-2-2-2
							h-3.7c0.7-11.1,5.2-21.1,12.2-28.9l2.2,2.2c0.8,0.8,2,0.8,2.8,0l1.1-1.1c0.8-0.8,0.8-2,0-2.8l-2.2-2.2c7.8-6.9,17.8-11.3,28.8-12
							v3.7c0,1.1,0.9,2,2,2h1.5c1.1,0,2-0.9,2-2v-3.7c11.1,0.6,21.3,5,29.1,11.9l-2.4,2.4c-0.8,0.8-0.8,2,0,2.8l1.1,1.1
							c0.8,0.8,2,0.8,2.8,0l2.4-2.4c7.1,7.8,11.6,17.9,12.3,29.1H102c-1.1,0-2,0.9-2,2v1.5c0,1.1,0.9,2,2,2h3.9
							C105.4,88,100.9,98.2,93.9,106.1z"/>
						<polygon id="XMLID_13_" class="st0" points="55,75.9 37.6,58.5 26.4,69.7 43.8,87.1 43.8,87.1 55,98.3 91.3,62 80.1,50.8 	"/>
					</g>
					</svg>
				</div />
				<div>Game</div>
			</div>
			<div class="col-xs-4 icon">
				<div>
					<svg version="1.1" 
					     id="Calque_1" 
					     xmlns="http://www.w3.org/2000/svg" 
					     xmlns:xlink="http://www.w3.org/1999/xlink" 
					     x="0px" 
					     y="0px"
						 viewBox="0 0 198.5 202.5" 
						 style="enable-background:new 0 0 198.5 202.5;" 
						 xml:space="preserve"
						 ng-class="{ active: game.actors.master }">
					<style type="text/css">
						.st0{stroke:#000000;stroke-miterlimit:10;}
					</style>
					<g id="XMLID_24_">
						<polygon id="XMLID_25_" class="st0" points="198.5,31.1 146.9,0.5 99.3,179.8 51.7,0.5 0,31.1 95.2,195.1 95.2,195.1 99,202.5 
							99.3,202.1 99.5,202.5 103.3,195.1 103.3,195.1 	"/>
						<polygon id="XMLID_26_" class="st0" points="119.2,23.5 99.4,17.1 79.4,23.5 91.4,38.2 107.7,38.2 	"/>
						<polygon id="XMLID_27_" class="st0" points="90.7,40.5 87,44.5 95.2,112.5 103.3,112.5 110,44.5 107.7,40.5 	"/>
					</g>
					</svg>
				</div>
				<div>Maître de jeu</div>
			</div>
			<div class="col-xs-4 icon">
				<div>
					<svg version="1.1" 
					     id="Calque_1" 
					     xmlns="http://www.w3.org/2000/svg" 
					     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 284.8 177.6" 
						 style="enable-background:new 0 0 284.8 177.6;" 
						 xml:space="preserve" 
						 ng-class="{ active: game.actors.buzzer }">
					<style type="text/css">
						.st0{stroke:#000000;stroke-miterlimit:10;}
					</style>
					<path id="XMLID_18_" class="st0" d="M191.9,125.4V78.1h79.5c-3.6-43.2-60-77.6-129-77.6c-69,0-125.4,34.3-129,77.6h79.8v47.4H0.5
						v51.7h283.8v-51.7H191.9z"/>
					</svg>
				</div>
				<div>Buzzers</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{{game.ip}}
		</div>
	</div>
</div>

<div class="error" ng-show="game.error">
	<div class="box" ng-click="game.reload()">
		Problème de connexion au jeu
	</div>
</div>

<!-- Teams -->
<div class="teams row" ng-show="game.mode">
	<div class="team col-md-3" ng-repeat="team in game.teams">
		<section class="widget widget-xs widget-xs-{{team.id}}" 
		         ng-class="{ active: team.lightOn, flash: team.flash, inactive: !team.active }"
		         ng-click="game.setTeamName(team)">
			<div class="widget-inner">
				<div class="chart-container">
					<span class="sparkline-line-mini">
						<img ng-src="images/iconmonstr-generation-{{team.id}}.svg" />	
					</span>
				</div>
				<div class="info-container">
					<h3 class="title">
						<span class="figure">{{team.name}}</span>
						<span class="note">{{team.points}} points</span></h3>
				</div>
			</div>
		</section>
	</div>
</div>

<!-- Questions order -->
<div class="step1" ng-show="game.step == 'mode'">
	<div class="row text-center vertical-align" 
	     ng-click="game.setMode('theme')" 
	     ng-class="{ flash: game.mode == 'theme' }">
		Questions organisées par thème
	</div>
	<div class="row text-center vertical-align" 
	     ng-click="game.setMode('random')" 
	     ng-class="{ flash: game.mode == 'random' } ">
		Questions aléatoires
	</div>
</div>

<!-- Team activation -->
<div class="step2" ng-show="game.step == 'teams-activation'">
	<div ng-show="false" class="radial-progress" data-progress="{{game.progress}}">
		<div class="circle">
			<div class="mask full">
				<div class="fill"></div>
			</div>
			<div class="mask half">
				<div class="fill"></div>
				<div class="fill fix"></div>
			</div>
			<div class="shadow"></div>
		</div>
		<div class="inset">
			{{game.secondsLeft}}
		</div>
	</div>
	<h1 class="action" ng-show="game.isGame()">
		Appuyez sur l'un des boutons de votre buzzer pour l'activer
	</h1>
	<button class="btn btn-success" 
	        ng-show="game.isMaster()" 
	        ng-click="game.startQuestions()">
		Démarrer les questions
	</button>
</div>

<!-- Questions -->
<div class="step3 vertical-align" ng-show="game.step == 'questions'">
	<div class="question">

		<div class="row" ng-show="game.isGame()">
			<h2>Theme : {{game.question.category}}</h2>
			<div class="" ng-show="game.question.type == 'blind'">
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
			</div>
			<div class=""  ng-show="game.question.type == 'deaf'">
				<img class="img-responsive" ng-src="{{game.question.file}}" />
			</div>
		</div>

		<div class="row answer" ng-show="game.isMaster()">
			<div>
				<h2>Theme : {{game.question.category}}</h2>
				
				<div class="form-horizontal" ng-show="game.isMaster()">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="">Artiste :</label>
						<div class="col-sm-9 form-control-static">{{game.question.author}}</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" for="">Titre :</label>
						<div class="col-sm-9 form-control-static">{{game.question.name}}</div>
					</div>

					<div class="form-group" ng-show="game.question.year">
						<label class="col-sm-3 control-label" for="">Année :</label>
						<div class="col-sm-9 form-control-static">{{game.question.year}}</div>
					</div>
				</div>
				<div class=""  ng-show="game.question.type == 'deaf'">
					<img class="" ng-src="{{game.question.file}}" />
				</div>
			</div>
			<div ng-show="game.nextQuestion">
				<h2>Theme : {{game.nextQuestion.category}}</h2>
				
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="">Artiste :</label>
						<div class="col-sm-9 form-control-static">{{game.nextQuestion.author}}</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" for="">Titre :</label>
						<div class="col-sm-9 form-control-static">{{game.nextQuestion.name}}</div>
					</div>

					<div class="form-group" ng-show="game.nextQuestion.year">
						<label class="col-sm-3 control-label" for="">Année :</label>
						<div class="col-sm-9 form-control-static">{{game.nextQuestion.year}}</div>
					</div>
				</div>
				<div class=""  ng-show="game.nextQuestion.type == 'deaf'">
					<img class="" ng-src="{{game.nextQuestion.file}}" />
				</div>
			</div>
		</div>

		<div class="row" ng-show="game.isMaster()">
			<div class="row">
				<div class="col-xs-3 text-center btn-container">
					<button class="btn btn-default btn-point btn-danger" 
					        ng-click="game.validateAnswer(-1, false)"
					        ng-disabled="!game.answered">-1</button>
				</div>
				<div class="col-xs-3 text-center btn-container">
					<button class="btn btn-default btn-point btn-warning" 
					        ng-click="game.validateAnswer(0, false)"
					        ng-disabled="!game.answered">0</button>
				</div>
				<div class="col-xs-3 text-center btn-container">
					<button class="btn btn-default btn-point btn-primary" 
					        ng-click="game.validateAnswer(1, true)"
					        ng-disabled="!game.answered">+1</button>
				</div>
				<div class="col-xs-3 text-center btn-container">
					<button class="btn btn-default btn-point btn-success" 
					        ng-click="game.validateAnswer(2, true)"
					        ng-disabled="!game.answered">+2</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 btn-container">
					<button class="btn btn-default btn-point btn-danger" 
					        ng-click="game.continueQuestion()">Continue question</button>
				</div>
				<div class="col-xs-6 btn-container">
					<button class="btn btn-default btn-point btn-success" 
					        ng-click="game.goNextQuestion()">Next question</button>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="scores-panel" ng-show="game.step == 'scores'">
	<div ng-repeat="team in game.teams" 
	     class="{{team.id}}" 
	     ng-style="{ width: (team.points / game.totalPoints() * 100)+'%' }"
	     ng-class="{ inactive: !team.active }">
		{{team.name}} : {{team.points}} points
	</div>
</div>